* {
	margin: 0px;
	padding: 0px;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: sans-serif;
}

.normal {
	padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
	flex: 1;
}

.header {
	border-bottom: 1px #ccc solid;
}

.footer {
	display: flex;
	flex-direction: row;
	background: black;
	color: white;
}

.footer div {
	width: 100%;
}

.footer div:last-child {
	text-align: right;
}

.navigation, .pagination {
	display: flex;
}

.navigation li {
	list-style-type: none;
	margin-right: 10px;
}

.pagination {
    width: 100%;
    justify-content: center;
    font-family: monospace;
}

.pagination li {
    list-style-type: none;
    margin-right: 10px;
}

@media(max-width: 800px) {
	.navigation {
		flex-direction: column;
	}
	.navigation li {
		list-style-type: none;
		margin-right: 10px;
	}
}

a {
    text-decoration: none;
}

.social.mini img {
    height: 20px;
    position: relative;
    top: 4px;
    filter: invert(100%);
}

.news li {
    margin-bottom: 1em;
}

.news a {
    display: block;
    margin-bottom: 0.5em;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.blank {
    display: flex;
    flex: 1;
    flex-grow:100%;
    align-items: center;
    text-align: center;
}
.blank > * {
    flex: 1;
}