* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: sans-serif;
}

.normal {
	padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
	flex: 1;
	max-width: 100%;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

img {
	align-self: center;
}

.header {
	position: relative;
}

.footer {
	display: flex;
	flex-direction: row;
	background: black;
	color: white;
}

.footer div {
	width: 100%;
}

.footer div:last-child {
	text-align: right;
}

.navigation, .pagination {
	display: flex;
}

.navigation li {
	list-style-type: none;
	margin-right: 10px;
}

.pagination {
    width: 100%;
    justify-content: center;
    font-family: monospace;
}

.pagination li {
    list-style-type: none;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.social.mini img {
    height: 20px;
    position: relative;
    top: 4px;
    filter: invert(100%);
}

.news li {
    margin-bottom: 4em;
    list-style: none;
}

.news a {
    display: block;
    margin-bottom: 0.5em;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.blank {
    display: flex;
    flex: 1;
    flex-grow:100%;
    align-items: center;
    text-align: center;
}
.blank > * {
    flex: 1;
}

.narrow {
	display: none;
}

@media(max-width: 1200px) {
	.navigation {
		position: relative;
		z-index: 1;
		flex-direction: column;
		background: white;
		border: 1px solid #ccc;
		box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
	}
	.navigation li {
		list-style-type: none;
		margin-right: 10px;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #ccc;
	}
	.navigation li a {
		display: block;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.narrow {
		display: initial;
	}
	.menu {
		height: 0px;
	}
	.menu > .navigation {
		transform: translate(0%, -50%);
		transition: all 0.25s ease-out;
		pointer-events: none;
		opacity: 0;
	}
	.menu.open  > .navigation{
		transition: all 0.25s ease-in;
		transform: translate(0%, 0%);
		pointer-events: initial;
		opacity: 1;
	}
}

.topRight{
	position: absolute;
	top: 10px;
	right: 10px;
}

.hamburger {
	height: 2em;
	width: 2em;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.hamburger > div {
	width: 100%;
	height: 15%;
	background: black;
	transition: all 0.2s ease-in;
	position: absolute;
	top: 0px;
	right: 0px;
}

.hamburder.open > div {
	transition: all 0.2s ease-out;
}

.hamburger > div:nth-child(1) {
	top:0%;
}

.hamburger > div:nth-child(2) {
	top:50%;
	transform: translateY(-50%);
}

.hamburger > div:nth-child(3) {
	transform: translateY(-100%);
	position: absolute;
	top:100%;
}

.hamburger.open {
	transition: all 0.5s ease-out;
}

.hamburger.open > div:nth-child(1){
	transform: rotate(45deg);
	top:50%;
}

.hamburger.open > div:nth-child(2),
.hamburger.covert:not(.open) > div{
	transform: rotate(180deg);
	opacity: 0;
}

.hamburger.open > div:nth-child(3){
	transform: rotate(-45deg);
	top:50%;
}

img.hero {
	max-width: 100%;
	display: block;
}

img.preview {
	float:left;
	margin-right: 1em;
}

div.event {
	display: flex;
	flex-direction: row;
}

img.left {
	width: 50%;
	align-self: flex-start;
}

div.details {
	padding: 10px;
}

.article-content {
	
}
